<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" [routerLink]="['/completedProjects']">Completed Projects</a>
  <a class="navbar-brand" [routerLink]="['/ongoingProjects']">Ongoing Projects</a>
  <input type="text"  #newHero   ><button [routerLink]="['/employeeData']" (click)="getData(newHero.value)">Search</button>
 
   
  
  <!-- Links [routerLink]="['/employeeData']"  -->
 <!--  <ul class="navbar-nav">
    
      <a class="nav-link" (click)="toggleEditor('name')">Show All Blogs</a>
    
    <li class="nav-item">
      <a class="nav-link" (click)="toggleEditor('profile')">Profile Editor</a>
    </li>
    
  </ul> -->
</nav>

<!--<app-blog-landing-page *ngIf="showBlog"></app-blog-landing-page>-->



  <router-outlet></router-outlet>
  
  